.modal__controler--deleteUser{
  padding: 0rem;
  border: none;
  border-radius: 8px;
  width: 733px;
  height: 292px;
  top: 8.4%;
  left: calc(50% - 733px/2);
  animation: apperFromTop var(--animation-duration) var(--animation-type);
}

.modal__controler--deleteUser::backdrop{
  background-color: rgba(33, 37, 41, 0.5);
}

.divControlerDeleteUser{
  padding: 60px 156px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  
}

.closeUserDelete{
  background-color:var(--color-mode) ;
  border:0px;
  color: var(--color-black);
  font-family:var(--font-secundary) ;
  font-size: 1.75rem;
  cursor: pointer;
  position: absolute;
  width: 40px;
  height: 40px;
  left: 640px;
  top: 12px;
}
.h2information{
  font-family: var(--font-third);
  font-size: 28px;
  font-weight: 700;
  line-height: 28px;
  align-items: center;
  color: var(--color-black);
}

.deleteUserButton{
  width: 422px;
  height: 48px;
  background-color: var(--color-action-2);
  border: 1px solid var(--color-action-2);
  font-family: var(--font-primary);
  font-weight: 700;
  font-size: 18px;
  color:var(--color-mode);
  position: absolute;
left: 20%;
right: 21.1%;
top: 94%;
bottom: 19.19%;
cursor: pointer;
}